<!DOCTYPE html>
<html>
<head>
	<title></title>

	<style type="text/css">
		*
		{
			margin: 0px;
		}
		header
		{
			height: 100px;
			background-color: black;
		}
        header a
        {
        	color:white;
        	margin-left:12px;
        	text-decoration: none; 
        }
        header a:hover
        {
        	color:red;
        }
		section
		{
			height: 500px;
			background-color: gray;
		}
		footer
		{
			height: 50px;
			background-color: black;
		}

	</style>
</head>
<body>
<header>
	<a href="/hr">Home</a><a href="aboutus">About us</a>
</header>
<section>
	<p>Welcome in About us</p>
</section>
<footer>

</footer>
</body>
</html>